html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fffdfa;
}
h1 {
  font-family: "Poiret One", cursive;
}
h2 {
  font-family: "Poiret One", cursive;
}
h3 {
  font-family: "Bellota Text", cursive;
}

/*menu*/
.menu {
  width: 30px;
  height: 100%;
  position: fixed;
  text-align: left;
  background-color: #553831;
  z-index: 1000;
}

nav {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr;
  height: 100%;
  text-align: center;
}

.nav {
  height: 166px;
  width: 30px;
  align-self: center;
  text-align: center;
  padding-top: 150%;
}

#navigation {
  color: #ffffff;
  font-family: "Bellota Text", cursive;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-lr;
  writing-mode: tb-lr;
  transform: rotate(180deg);
}

/*first block*/
.firstblock {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://thumb.tildacdn.com/tild3065-6334-4166-a535-653830623462/-/format/webp/prud_dom_zakat_utki_.jpg");
  background-position: center;
  height: 700px;
  width: 100%;
  background-size: cover;
  padding-top: 0;
  margin-top: 0;
  color: white;
  text-align: center;
}
.heading {
  font-size: 60px;
  padding-top: 300px;
  font-weight: 400;
}
hr {
  background-color: white;
  width: 170px;
  height: 1px;
  border: 0;
  padding: 0;
  margin-top: 30px;
}
.sheading {
  padding-top: 25px;
  font-weight: 100;
}
#arrow {
  display: block;
  margin-left: 48%;
  margin-right: 45%;
  margin-top: 140px;
  width: 70px;
  height: 70px;
  opacity: 30%;
  cursor: pointer;
}

/*second block*/
/*squares*/
.square1 {
  width: 108px;
  height: 108px;
  position: absolute;
  top: 80px;
  left: 60px;
}
.inner-square1 {
  width: 108px;
  height: 108px;
  transform: rotate(20deg);
  background-color: #ebbd68;
}

.square2 {
  width: 93px;
  height: 93px;
  position: absolute;
  top: 175px;
  left: 100px;
}
.inner-square2 {
  width: 93px;
  height: 93px;
  transform: rotate(30deg);
  background-color: #face7d;
}

.square3 {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 240px;
  left: 200px;
}
.inner-square3 {
  width: 65px;
  height: 65px;
  transform: rotate(100deg);
  background-color: #ffe8bd;
}

.square4 {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 30px;
  left: 240px;
}
.inner-square4 {
  width: 56px;
  height: 56px;
  transform: rotate(250deg);
  background-color: #f2cd88;
}

.square5 {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 65px;
  left: 160px;
}
.inner-square5 {
  width: 52px;
  height: 52px;
  transform: rotate(120deg);
  background-color: #ffdb99;
}
/*squares' finish*/

.secblock {
  height: 220px;
  width: 100%;
  text-align: center;
  position: relative;
}

.name {
  font-size: 30px;
  padding-top: 90px;
  font-weight: 700;
}
.name-two {
  width: 600px;
  height: 90px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  font-weight: 400;
}

/*lines*/
#first-line {
  height: 1.5px;
  background-image: -webkit-linear-gradient(
    right,
    #ebbd68,
    rgba(235, 189, 104, 0)
  );
  width: 200px;
  display: inline-block;
}
#center-line {
  height: 1.5px;
  width: 200px;
  display: inline-block;
  background: #ebbd68;
}
#third-line {
  background-image: -webkit-linear-gradient(
    left,
    #ebbd68,
    rgba(235, 189, 104, 0)
  );
  height: 1.5px;
  width: 200px;
  display: inline-block;
}
.parent-line {
  width: 100%;
  opacity: 0.3;
  text-align: center;
  padding-top: 90px;
}

/*third block*/
/*squares*/
.square21 {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 70px;
  right: 60px;
}
.inner-square21 {
  width: 80px;
  height: 80px;
  transform: rotate(40deg);
  background-color: #ebbd68;
}

.square22 {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 120px;
  right: 160px;
}
.inner-square22 {
  width: 70px;
  height: 70px;
  transform: rotate(70deg);
  background-color: #fad48e;
}

.square23 {
  width: 67px;
  height: 67px;
  position: absolute;
  top: 25px;
  right: 65px;
}
.inner-square23 {
  width: 67px;
  height: 67px;
  transform: rotate(160deg);
  background-color: #f0d295;
}

.square24 {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 140px;
  right: 270px;
}
.inner-square24 {
  width: 45px;
  height: 45px;
  transform: rotate(210deg);
  background-color: #f7ddac;
}

.square25 {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -25px;
  right: 120px;
}
.inner-square25 {
  width: 35px;
  height: 35px;
  transform: rotate(145deg);
  background-color: #f7ddac;
}
/*squares' finish*/

.thirdblock {
  margin-top: 90px;
  width: 100%;
  text-align: center;
  position: relative;
}
.name-three {
  font-size: 20px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  height: 120px;
}

/*test*/
.madtest {
  margin-top: 90px;
  width: 100%;
}

/*poems*/
.poem {
  background-color: #ebbd68;
  width: 100%;
  height: 150px;
  margin-top: 100px;
  text-align: center;
  display: inline-block;
}
.poetry {
  font-size: 27px;
  margin-top: 23px;
  color: #fff;
  font-weight: 500;
}
#vector {
  margin-top: 15px;
  width: 28px;
  height: 35px;
}

/*gradient*/
.gradients {
  display: flex;
  width: 100%;
  height: 60px;
}
#fir-gradient {
  background: linear-gradient(to bottom right, #ebbd68 50%, #fffdfa 50%);
  height: 60px;
  width: 50%;
}
#sec-gradient {
  height: 60px;
  width: 50%;
  background: linear-gradient(to bottom left, #ebbd68 50%, #fffdfa 50%);
}

/*biography*/
.biography-text {
  margin-top: 60px;
  margin-left: 90px;
  margin-right: 60px;
}
.high {
  color: #553831;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.subtitle {
  color: #553831;
  font-size: 25px;
  font-weight: 600;
}
.paragraph {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

/*childhood*/
.childhood {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.portrait {
  margin-left: 40px;
  width: 290px;
  height: 290px;
  border-radius: 100%;
  box-shadow: -40px 20px 7px 7px rgb(217 211 200 / 20%);
}

.p-childhood {
  width: auto;
  padding-left: 40px;
}

.childhood .subtitle{
  width: 270px;
  margin-bottom: 10px;
}

/*most-of-biography*/
.most-of-biography {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 60px;
}

.p-biography {
  width: 800px;
}

.biography .subtitle {
  width: 320px;
  margin-bottom: 10px;
}

.biography-imgs {
  position: relative;
  width: 600px;
  margin-left: 60px;
  height: 750px;
}

.biography2 {
  width: 300px;
  box-shadow: -40px 10px 7px 7px rgb(199 186 163 / 20%);
  position: absolute;
  top: -10px;
  left: 140px;
}

.biography3 {
  width: 210px;
  height: 304px;
  box-shadow: -40px 10px 7px 7px rgb(199 186 163 / 20%);
  position: absolute;
  top: 220px;
  left: 0px;
}

.biography4 {
  height: 304px;
  box-shadow: -40px 10px 7px 7px rgb(199 186 163 / 20%);
  position: absolute;
  top: 220px;
  right: 0px;
}

.biography5 {
  width: 300px;
  box-shadow: -40px 10px 7px 7px rgb(199 186 163 / 20%);
  position: absolute;
  top: 560px;
  left: 140px;
}

/*private-life*/
.private-life {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.love {
  width: 400px;
  box-shadow: -40px 20px 7px 7px rgb(199 186 163 / 20%);
  margin-left: 40px;
}

.p-love {
  width: auto;
  padding-left: 40px;
}

.private-life .subtitle {
  width: 320px;
  margin-bottom: 10px;
}

/*death*/
.death {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-portrait {
  width: 310px;
  box-shadow: -40px 20px 7px 7px rgb(199 186 163 / 20%);
  margin-left: 20px;
}

.p-death {
  width: auto;
  padding-right: 40px;
}

.death .subtitle {
  width: 320px;
  margin-bottom: 10px;
}

/*table*/
#chronology {
  margin-top: 90px;
}

table {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 70px;
  width: 90%;
  border-collapse: collapse;
}

td,
tr {
  border: 3px solid rgba(221, 186, 140, 0.5);
  border-style: dashed;
}

td {
  vertical-align: top;
}

.subtitle {
  width: 130px;
  margin: 5px;
  text-align: center;
}

.paragraph {
  margin: 8px;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 400;
  text-align: justify;
}

/*facts*/
.gallery {
  position: relative;
  display: grid;
  margin-top: 80px;
  grid-template: 1fr 1fr / 300px 300px 300px;
  grid-column-gap: 5%;
  grid-row-gap: 60px;
  justify-content: center;
}

.photo_facts {
  width: 300px;
  height: 300px;
  border-radius: 3%;
  box-shadow: 15px 15px 10px rgba(217, 211, 200, 0.7);
  cursor: pointer;
  user-select: none;
  transition: all 0.3s linear;
}

.photo_facts:hover {
  box-shadow: 15px 15px 10px rgba(136, 131, 124, 0.7);
}

.spoiler {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fffdfade;
  transition: all 0.2s linear;
}

.spoiler.hidden {
  visibility: hidden;
  opacity: 0;
}

.spoiler.showed {
  visibility: visible;
  opacity: 1;
}

.spoiler__title,
.spoiler__info {
  text-align: center;
}

.spoiler__title {
  width: 70%;
  font-size: 40px;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Poiret One", cursive;
  color: #553831;
}

.spoiler__info {
  padding-top: 100px;
  width: 70%;
  margin: 0 auto;
  font-family: "Bellota Text", cursive;
  font-size: 20px;
}

.spoiler__button {
  position: absolute;
  top: 15px;
  right: 5%;
  font-size: 35px;
  cursor: pointer;
  transition: all 0.2s linear;
  color: #ebbd68;
}

.spoiler__button:hover {
  color: rgb(148, 148, 148);
}

/*poetry*/
#popular-poems {
  margin-top: 60px;
}

.all-poetry {
  margin-top: 80px;
  margin-bottom: 60px;
  margin-left: 50px;
}

#last-poetry {
  border-bottom: 1px solid #eee;
}

.tab {
  position: relative;
  width: 800px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #eee;
}

.tab h2 {
  color: #553831;
  text-align: left;
  font-size: 22px;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}

.tab-content h3 {
  font-size: 18px;
  font-weight: 300;
  color: #000;
  margin-bottom: 25px;
}

.tab input:checked ~ .tab-content {
  max-height: 3550px;
}

/*icon*/
.tab label::after {
  margin-top: 9px;
  color: #fff;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #ebbd68;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.tab input[type="checkbox"] + label::after {
  content: "+";
}
.tab input[type="checkbox"]:checked + label::after {
  transform: rotate(315deg);
  background-color: rgb(223, 223, 223);
}

/*church*/
.church {
  height: 1100px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://img5.goodfon.ru/wallpaper/nbig/1/ff/maksim-evdokimov-priroda-peizazh-osen-travy-inei-khram-bashn.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.creativity {
  font-weight: 300;
  color: #fffdfa;
  font-size: 16px;
  background-color: #553831;
  width: 600px;
  height: 310px;
  line-height: 1.55;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
}

/*bottom*/
.bottom {
  background-color: #553831;
  width: 100%;
  height: 180px;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}
#back-to-top {
  position: center;
  color: #fffdfa;
  font-weight: 300;
  font-size: 14px;
  margin-top: 90px;
  text-align: right;
  margin-right: 40px;
  font-family: "Poiret One", cursive;
  font-style: normal;
  text-decoration: underline;
  cursor: pointer;
}
#school {
  color: #fffdfa;
  font-weight: 300;
  text-decoration: underline;
  font-size: 10px;
  margin-top: 90px;
  text-align: left;
  margin-left: 40px;
}
#sites {
  height: 38px;
  margin-top: 85px;
  display: grid;
  grid-template: 1fr / 30px 30px 30px 30px;
  grid-column-gap: 10px;
  justify-content: center;
}
#facebook {
  width: 30px;
  height: 30px;
}
#instagram {
  width: 30px;
  height: 30px;
}
#youtube {
  width: 30px;
  height: 30px;
}
#vk {
  width: 30px;
  height: 30px;
}
.email {
  text-align: center;
  color: #fffdfa;
  font-weight: 300;
  font-size: 13px;
}
.i-email {
  text-decoration: underline;
}
.bottom-all {
  height: 210px;
  background-color: #553831;
}

/*media*/
/*laptop L*/
@media screen and (min-width: 1305px) {
/*squares1*/
.square1 {
  top: 100px;
  left: 190px;
}

.square2 {
  top: 190px;
  left: 240px;
}

.square3 {
  top: 260px;
  left: 380px;
}

.square4 {
  top: 25px;
  left: 400px;
}

.square5 {
  top: 40px;
  left: 300px;
}

/*squares2*/
.square21 {
  top: 70px;
  right: 200px;
}

.square22 {
  top: 120px;
  right: 320px;
}

.square23 {
  top: 10px;
  right: 205px;
}

.square24 {
  top: 140px;
  right: 450px;
}

.square25 {
  top: -60px;
  right: 280px;
}
}
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  
}
/*laptop*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
  /*biography*/
  .biography-text {
    margin-left: 70px;
    margin-right: 40px;
  }
  .biography-imgs {
    margin-left: 40px;
    height: 910px;
  }
  .biography2 {
    width: 280px;
    box-shadow: -20px 10px 7px 7px rgb(199 186 163 / 20%);
    top: -10px;
    left: 50px;
  }
  .biography3 {
    width: auto;
    height: 254px;
    box-shadow: -20px 10px 7px 7px rgb(199 186 163 / 20%);
    position: absolute;
    top: 194px;
    left: 0px;
  }
  
  .biography4 {
    height: 254px;
    box-shadow: -20px 10px 7px 7px rgb(199 186 163 / 20%);
    position: absolute;
    top: 420px;
    right: 0px;
  }
  
  .biography5 {
    width: 280px;
    box-shadow: -20px 10px 7px 7px rgb(199 186 163 / 20%);
    position: absolute;
    top: 700px;
    left: 50px;
  }
  /*table*/
  table {
  margin-left: 6%;
  margin-right: 5%;
  }
  /*facts*/
  .gallery {
    grid-template: 1fr 1fr / 250px 250px 250px;
  }
  .photo_facts {
    width: 250px;
    height: 250px;
  }
  .spoiler__info {
    padding-top: 100px;
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
    font-family: "Bellota Text", cursive;
  }
}
/*menu*/
@media screen and (max-height: 624px) and (min-height: 575px) {
  .nav {
    height: 140px;
    padding-top: 120%;
  }
}
@media screen and (max-height: 574px) {
  .nav {
    height: 120px;
    padding-top: 90%;
  }
}